body{
    margin: 0;
}

.features{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color:white;
    
}
.box1{

    display: flex;
    flex-direction: column;
}
.box1 h1{
    font-size: 20px;
}
.box1 span{
    margin: 0;
    font-size: 40px;
    color: rgb(147, 71, 175);
    font-weight: 400;
    font-family: sans-serif;
}
.btn a{
    text-decoration: none;

}
.btn{
    margin-top: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
    height: 50px;
    width: 150px;
    background-color: rgb(94, 0, 128);
    color: white;
    border-radius: 10px;
}
.btn:hover{
    background: #000;
}

.box2{
    display: flex;
    flex-direction: column;
}
.house{
    height: 50px;
    width: 50px;
}
.box2 i {
    margin:20px;
    margin-bottom: 30px;
    color: rgb(94, 0, 128);
    /* color: rgb(147, 71, 175); */
    height: 50px;
    width: 50px;
    
}
.span2{
    margin: 0;
    font-size: 30px;
    color: rgb(147, 71, 175);
    font-weight: 100;
    font-family: sans-serif;
}
.box3{
    display: flex;
    flex-direction: column;
}
.box3 i {
    margin:20px;
    margin-bottom: 30px;
    color: rgb(94, 0, 128);
    /* color: rgb(147, 71, 175); */
    height: 50px;
    width: 50px;
    
}